<!--
    http://localhost:3000/
-->
<div class="container">
    <div class="row">
        <br>
        <!--
            GET https://localhost:3000/usuario/nuevo renderizar una vista con datos vacIos
        -->
        <a href="/usuario/nuevo" class="btn btn-primary">Nuevo</a>
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>User</th>
                <th>Tipo Usuario</th>
                <th>Password</th>
                <th colspan="2">Opciones</th>
            </thead>
            {{#each usuarios}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.username}}</td>
                <td>{{this.tipousuario}}</td>
                <td>{{this.password}}</td>
                <!--
                    GET https://localhost:3000/usuario/modificar/:id renderiiza una vista de modificar con los datos del usuario
                    GET https://localhost:3000/usuario/eliminar/:id eliminarIa directamente en la base de datos
                -->
                <td><a href="/usuario/modificar/{{this._id}}">Modificar</a></td>
                <td><a href="/usuario/eliminar/{{this._id}}">Eliminar</a></td>
            </tr>
            {{/each}}
        </table>  
    </div>
</div>