<div class="container">
    <div class="row">
        <br>
        <a href="usuario/nuevo" class="btn btn-primary">Nuevo</a>
        
        <table>
            <thead>
                <th>Name</th>
                <th>User</th>
                <th>Password</th>
                <th colspan="2">Opciones</th>
            </thead>
            <!--
               GET  https://localhost:3000/usuario
            -->
            {{#each usuarios}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.username}}</td>
                <td>{{this.password}}</td>
            
            <!--
               GET  https://localhost:3000/usuario/modificar/:id    renderiza una visison modificar
               GET  https://localhost:3000/usuario/eliminar/:id   eliminarioa directamente en la base de datos
            
            -->

                <td><a href="/usuario/modificar{{this._id}}"> Modificar</a></td>
                <td><a href="/usuario/eliminar{{this._id}}">Eliminar</a></td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>